div{
    background-color: red;
    padding: 10px;
}

#madrid{
    color: aqua;
}

.real{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

input[type="text"]{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
#madrid, .real{
    border: 5px solid black;
}